rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas para Colección de Productos (Lectura pública, Escritura sólo Admin)
    match /productos/{productoId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    // Reglas para Categorías
    match /categorias/{categoriaId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    // Reglas para Pedidos (Cualquier visitante puede crear pedido, sólo Admin puede leer todos o actualizar estado)
    match /pedidos/{pedidoId} {
      allow create: if request.resource.data.total > 0 &&
                      request.resource.data.cliente.nombre != null &&
                      request.resource.data.cliente.telefono != null;
      allow read, update, delete: if request.auth != null;
    }
  }
}
