rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Colección de Productos (Lectura y Escritura funcional para la tienda y administración)
    match /productos/{productoId} {
      allow read, write: if true;
    }

    // Colección de Categorías
    match /categorias/{categoriaId} {
      allow read, write: if true;
    }

    // Colección de Pedidos
    match /pedidos/{pedidoId} {
      allow read, write: if true;
    }
  }
}
